body {
  background-image: url("../image/top-image.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  text-align: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.menuCounter p {
  font-size: 24px;
  margin: 10px 0;
  color: #6C63FF;
  font-size: 36px;
  display: block;
  font-weight: bold;
}

.menuCounter {
  width: 50%;
  margin: 0;
}


span {
  color: #4D4C59;
}

#countdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#countdown p {
  font-size: 14px;
  color: #C8C8C8;
}

#countdown span {
  color: #4D4C59;
  font-size: 72px;
  margin: 0 10px;
}

#countdown div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

#inscreva p {
 font-size: 14px;
 color: #9C9AB6;
}

#inscreva button {
  background-color: #6C63FF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin: 10px 0;
}

#inscreva button:hover {
  filter: brightness(115%);
}

#img {
  width: 50%;
}



